<template>
    <div class="flex justify-center bg-gray-200 h-screen">
        <div class="flex flex-col w-1010 mb-5 bg-white shadow-2xl">
            <div class="bg-teal-900 h-12 w-full d-flex">
                <div class="flex items-center h-full">
                    <v-icon dark color="white" class="ml-5 cursor-pointer">{{menu}}</v-icon>
                </div>
            </div>
            <div class="flex">
                <Chats class="w-310 border-r-4"/>
                <Messages class="w-full"/>
            </div>
        </div>
    </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import Chats from "./Chats/Chats";
  import Messages from "./Messages/Messages";
  export default {
    name: "Main",
    components: {Chats, Messages},
    computed: {
      ...mapGetters('icons',['menu'])
    }
  }
</script>

<style scoped>
    .w-310 {
        width: 310px;
    }
    .w-1010 {
        max-width: 1010px;
        width: 1010px;
    }
</style>