<template>
    <div class="flex justify-center">
        <span>{{userWritesMessage}}</span>
        <div class="w-500 flex flex-row container">
            <div class="rounded-full bg-gray-400 bg-cover w-12 h-12">
                <img :src="me.avatarPath" alt="" class="avatar">
            </div>
            <div class="flex flex-col align-end">

                <textarea class="message"
                          cols="30"
                          rows="5"
                          v-model="newMessageText"
                          v-on:keydown="meWritingMessage(selectedChatId)"
                ></textarea>
                <button class="bg-blue-500 p-2 w-32 rounded text-white mt-5" v-on:click="_sendMessage()"
                >Send</button>
            </div>
            <div class="rounded-full bg-gray-400 bg-cover w-12 h-12">
                <img :src="selectedChatAvatar" alt="" class="avatar">
            </div>
        </div>
    </div>
</template>
<script>
  import {mapActions, mapGetters} from "vuex";

    export default {
      name: 'SendMessage',
      methods: {
        ...mapActions('messages', ['sendMessage', 'updateNewMessageText', 'meWritingMessage']),
        _sendMessage() {
          this.sendMessage({chatId: this.selectedChatId, message: this.newMessageText});
          this.newMessageText = '';
        }
      },
      data() {
        return {
          newMessageText: ''
        }
      },
      computed: {
        ...mapGetters('user', ['me']),
        ...mapGetters('users', ['user']),
        ...mapGetters('chats', ['selectedChatAvatar', 'selectedChatId']),
        ...mapGetters('messages', ['userWritesMessage'])
      }
    }
</script>
<style>
    .w-500 {
        width: 500px;
        max-width: 500px;
    }
    .message:focus {
        border: solid 2px #234e5250;
        border-radius: 5px;
        outline: 0;
    }
    .container {
        position: fixed;
        bottom: 23px;
        width: 400px;
        max-width: 400px!important;
    }
    .avatar {
        height: 50px;
        width: 50px;
        min-width: 50px;
        min-height: 50px;
        border-radius: 50%;
    }
</style>