<template>
    <div class="relative">
        <div class="absolute ml-1">
            <v-icon size="20" color="#aaa" class="icon">{{search}}</v-icon>
        </div>
        <input type="text"
               class="bg-gray-200 p-1 pl-8 w-full rounded focus:bg-white focus"
               placeholder="Search"
               v-on:change="searchUsers($event.target.value)"
        >
    </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  export default {
    name: "Search",
    computed: {
      ...mapGetters('icons', ['search'])
    },
    methods: {
      ...mapActions('search', ['searchUsers'])
    }
  }
</script>

<style scoped>
    .icon {
        margin-top: 2px;
    }
</style>