<template>
    <div class="p-12 bg-white">
        <div class="text-center">
            <b class="text-lg">+380{{phone}}</b>
        </div>
        <div class="mt-5 text-center">
            <span class="text-gray-600">We've sent the code to your phone.</span>
        </div>
        <div class="mt-5 text-center">
            <span class="text-gray-600">Please enter the code below.</span>
        </div>
        <div class="flex">
            <md-field>
                <label v-if="!error">Enter your code</label>
                <md-input v-text="code" v-on:change="updateCode" type="text"></md-input>
                <span class="text-red-700 fs-10" v-if="error">{{error}}</span>
            </md-field>
        </div>
    </div>
</template>

<script>
  import {mapGetters, mapActions, mapMutations} from 'vuex';
  export default {
    name: "ConfirmCode",
    computed: {
      ...mapGetters('login',['code', 'phone', 'error']),
    },
    methods: {
      ...mapActions('login',['closeConfirmationModal']),
      updateCode(e) {
        this.$store.commit('login/updateCode', e.target.value);
        this.$store.commit('login/updateError', '');
      }
    }
  }
</script>

<style scoped>
    .fs-10 {
        font-size: 10px;
    }
</style>