<template>
    <div class="p-12 bg-white">
        <div>
            <b class="text-lg">Sign in</b>
        </div>
        <div class="mt-5">
            <span class="text-gray-600">Please enter your phone number:</span>
        </div>
        <div class="flex">
            <input type="text" disabled value="+380" class="w-10" />
            <md-field>
                <label>Phone number</label>
                <md-input v-text="phone" v-on:change="updatePhone" type="text"></md-input>
            </md-field>
        </div>
        <md-dialog-confirm
                :md-active.sync="confirmationModalIsOpen"
                md-title="Is this phone number correct?"
                :md-content="`+380${phone}`"
                md-confirm-text="OK"
                md-cancel-text="CANCEL"
                @md-cancel="closeConfirmationModal"
                @md-confirm="sendVerificationCode" />
    </div>
</template>

<script>
  import {mapGetters, mapActions, mapMutations} from 'vuex';
  export default {
    name: "AuthorizationForm",
    computed: {
      ...mapGetters('login',['phone', 'confirmationModalIsOpen']),
    },
    methods: {
      ...mapActions('login',['sendVerificationCode', 'closeConfirmationModal']),
      updatePhone(e) {
        this.$store.commit('login/updatePhone', e);
      }
    }
  }
</script>

<style>
    .mt-m-120 {
        margin-top: -120px;
    }
    .w-400 {
        width: 400px;
    }
</style>