<template>
    <div>
        <Search class="p-3"/>
        <div v-if="displayResults">
            <Chat v-for="chat in results" :chat="chat" :key="`${chat.id}-res`"></Chat>
        </div>
        <div v-if="!displayResults">
            <Chat v-for="chat in chats" :chat="chat" :key="`${chat.id}.${chat.selected}`"/>
        </div>
    </div>
</template>

<script>
  import {mapGetters} from 'vuex';
  import Chat from './Chat/Chat';
  import Search from "./Search/Search";

  export default {
    name: "Chats",
    components: {Search, Chat},
    created() {
      this.$store.dispatch('chats/loadChats');
    },
    computed: {
      ...mapGetters('chats', ['chats']),
      ...mapGetters('search', ['displayResults', 'results'])
    }
  }
</script>

<style scoped>

</style>