<template>
    <div class="flex flex-row justify-center">
        <div class="w-500 flex flex-row justify-between p-3">
            <div class="message-body flex flex-row">
                <div class="rounded-full bg-gray-400 bg-cover w-12 h-12">
                    <div v-if="user(message.senderId).avatar">
                        <img :src="user(message.senderId).avatar" alt="" class="avatar">
                    </div>
                </div>
                <div class="ml-4">
                    <div>{{user(message.senderId).name}}</div>
                    <span class="text-gray-600">{{message.message}}</span>
                </div>
            </div>
            <span class="text-gray-500">{{message.displayedTime}}</span>
        </div>
    </div>
</template>

<script>
  import {mapGetters} from "vuex";

  export default {
    props: ['message'],
    name: "Message",
    computed: {
      ...mapGetters('users', ['users', 'user']),
    },
  }
</script>

<style scoped>
    .avatar {
        height: 50px;
        width: 50px;
        min-width: 50px;
        border-radius: 50%;
    }
    .w-500 {
        width: 500px;
        max-width: 500px;
    }
    .message-body {
        max-width: 200px;
    }
</style>