<template>
    <div class="main-wraper h-screen">
        <div class="bg-blue-500 w-100 h-48"></div>
        <div class="flex justify-center">
            <div class="w-400 mt-m-120">
                <div class="flex p-5">
                    <div class="flex items-center flex-grow">
                        <div class="p-1 bg-blue-600 rounded-full">
                            <v-icon dark color="white">{{logo}}</v-icon>
                        </div>
                        <b class="text-gray-200 ml-3">Messenger</b>
                    </div>
                    <div class="flex items-center justify-end">
                        <button class="text-white w-10 font-bold flex justify-end" v-on:click="next">
                            <span>Next</span>
                            <span class="text-lg ml-1">></span>
                        </button>
                    </div>
                </div>
                <SendCode v-if="!smsSended" />
                <ConfirmCode v-if="smsSended" />
            </div>
        </div>
    </div>
</template>

<script>
  import SendCode from "./Forms/SendCode";
  import ConfirmCode from "./Forms/ConfirmCode";
  import {mapGetters, mapActions} from 'vuex';

  export default {
    name: "LoginPage",
    computed: {
      ...mapGetters('login',['confirmationModalIsOpen', 'smsSended']),
      ...mapGetters('icons',['logo'])
    },
    methods: {
      ...mapActions('login', ['next']),
    },
    components: {SendCode, ConfirmCode}
  }
</script>

<style scoped>
    .main-wraper {
        font-family: 'Baloo 2', cursive;
        background-color: #edf4ff;
    }
</style>