<template>
    <div class="flex p-2 cursor-pointer"
         v-bind:class="{
            'hover:bg-indigo-200':!chat.selected,
            'bg-teal-900': chat.selected,
            'text-white': chat.selected
         }"
         v-on:click="chat.isSearchResult ? createChat(chat)  :selectChat(chat.id)"
    >
        <div class="rounded-full bg-gray-400 w-12 h-12 mr-5">
            <img :src="chat.avatar" alt="" class="avatar">
        </div>
        <div class="flex flex-col">
            <span>{{chat.name}}</span>
            <span class="mt-1">Last message</span>
        </div>
        <div>
            <span class="text-xs">10:10 AM</span>
        </div>
    </div>
</template>

<script>
  import {mapActions, mapGetters} from 'vuex';
  export default {
    name: "Room",
    props: ['chat'],
    methods: {
      ...mapActions('chats', ['selectChat', 'createChat']),
    },
    computed: {
      ...mapGetters('chats', ['selectedChatAvatar'])
    }
  }
</script>

<style scoped>
    *{
        font-family: 'Baloo 2', cursive;
    }
    .avatar {
        height: 50px;
        width: 50px;
        min-width: 50px;
        border-radius: 50%;
        z-index: 2;
    }
</style>