<template>
    <div id="app">
        <router-view/>
    </div>
</template>

<script>
  import {mapGetters} from 'vuex';

  export default {
    name: 'App',
    created() {
      if(this.isTokenExpired) {
        this.$router.push('/login');
      } else {
        this.$router.push('/messages');
      }
    },
    computed: {
      ...mapGetters('session',['isTokenExpired']),
    },
  }
</script>
