<template>
    <div>
        <div id="messages">
            <message v-for="message in messages" :message="message" :key="`${message.id}`"/>
        </div>
        <send-message v-if="selectedChatId"/>
    </div>
</template>

<script>
  import {mapGetters} from "vuex";
  import Message from "./Message/Message";
  import SendMessage from "./SendMessage/SendMessage";
  export default {
    name: "Messages",
    components: {SendMessage, Message},
    computed: {
      ...mapGetters('messages', ['messages']),
      ...mapGetters('chats', ['selectedChatId'])
    },
    watch: {
      messages() {
         setTimeout(() => {
           const container = this.$el.querySelector('#messages');
           container.scrollTop = container.scrollHeight;
         });
      }
    }
  }
</script>

<style scoped>
    #messages {
        height: calc(100vh - 260px);
        overflow-x: auto;
    }
</style>